<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% if site.github_username %}
          <li>
            <i class="fa fa-github"></i> <a href="//github.com/{{site.github_username}}">{{site.github_username}}</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>

      </div>
    </div>

  </div>

</footer>
